/*--------------------------------------
 Specific application scss
 ---------------------------------------*/

.navbar-blue.navbar-sticky {
  background: $blue-color;
  position: fixed;
  padding-top: 0;
  top: 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .07);
  transition: all .3s ease;
  .nav-item {
    .nav-link {
      color: $white;
      &:hover {
        color: $secondary-color;
      }
    }
    .active {
      color: $secondary-color;
    }
  }
}
